*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
body{
    background: url(/preject1000/images/background.jpg);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    min-height: 100vh;
}
.navbar{
display: flex;
padding: 20px;
}

.navbar a {
text-decoration: none;
color: white;
padding: 50px;
transition: background-color 0.3s;
font-size: 20px;
font-family: lato;
border-radius: 3rem;
transition: all .50s ease;
font-weight: 500;
}
a:hover{
    color: silver;
    box-shadow: #1515ae 0px 1px 100px;
}
.img{
    margin-top: -200px;
    margin-left: 888px;
    width: 20%;
    opacity: 0.5;
    border: transparent;
}
.text{
    color: rgb(255, 255, 255);
    text-align: left;
    margin-top: 80px;
    margin-left: 80px;
    font-size: 45px;
    font-family: 'Inter', sans-serif;
    font-family: 'Lato', sans-serif;
    font-family: 'Oswald', sans-serif;
}